menuconfig EPSON_M150II
	bool "epson m150ii pin printer"
	default n
	depends on GPIO && DISPLAY
	help
	  Enable epson m150ii printer support
if EPSON_M150II

config PRINTER_FRAME_FORMAT_REVERSED
	bool "printer frame format reversed"
	default n
	help
	"Most devices use big-endian buffer layouts, 
	meaning the high-order byte is at the smaller coordinate position 
	(aligned along the X-axis in the byte direction). 
	If you need to switch to little-endian, 
	where the low-order byte is at the smaller coordinate position, 
	just turn on this option."

config PRINTER_PREDICTION_TIMING
	bool "printer timing use singel edge predict timing"
	default n
	help 
	"Enable this use active logic edge to predict mid timing,like
	                |-------------|                         |-------------|
	                |             |                         |             |
	----------------|             |-------------------------|             |-----
	rever singnal   simple time                             simple time
	                |---------|         |---------|         |---------|         |
	                |         |         |         |         |         |         |
	----------------|         |---------|         |---------|         |---------|
	predict signal  triger              triger              triger
	this option only use your timing detector wave not good but you wont to check
	program, actury, this option have to mach problam, if can do not use it"

choice "EPSON_M150II_LOG_LEVEL_CHOICE"
	prompt "Max compiled-in log level for Epson m150 ii micro dot printer"
	default EPSON_M150II_LOG_LEVEL_DEFAULT
	depends on LOG

config EPSON_M150II_LOG_LEVEL_NONE
	bool "none"

config EPSON_M150II_LOG_LEVEL_ERR
	bool "Error"

config EPSON_M150II_LOG_LEVEL_WRN
	bool "Warning"

config EPSON_M150II_LOG_LEVEL_INF
	bool "Info"

config EPSON_M150II_LOG_LEVEL_DBG
	bool "Debug"

config EPSON_M150II_LOG_LEVEL_DEFAULT
	bool "Default"

endchoice

config EPSON_M150II_LOG_LEVEL
	int
	depends on LOG
	default 0 if EPSON_M150II_LOG_LEVEL_NONE
	default 1 if EPSON_M150II_LOG_LEVEL_ERR
	default 2 if EPSON_M150II_LOG_LEVEL_WRN
	default 3 if EPSON_M150II_LOG_LEVEL_INF
	default 4 if EPSON_M150II_LOG_LEVEL_DBG
	default LOG_DEFAULT_LEVEL if EPSON_M150II_LOG_LEVEL_DEFAULT

endif